/* Find Your Community */

.Subheading {
    position: absolute;
    width: 691px;
    height: 192px;
    left: 295px;
    top: 1548px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 96px;
    /* or 100% */

    letter-spacing: -1px;

    /* Primary/Gradient */

    background: linear-gradient(91.87deg, #A814AB 0%, #0029FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
